body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:696px;
}
#u1378 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:359px;
  height:696px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:340px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1380 {
  position:absolute;
  left:7px;
  top:47px;
  width:319px;
  height:560px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:272px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u1383 {
  position:absolute;
  left:13px;
  top:50px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1384 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:9px;
  top:107px;
  width:315px;
  height:50px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:163px;
}
#u1387 {
  position:absolute;
  left:65px;
  top:147px;
  width:188px;
  height:163px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:74px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:92px;
}
#u1390 {
  position:absolute;
  left:17px;
  top:510px;
  width:113px;
  height:91px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:38px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1392 {
  position:absolute;
  left:83px;
  top:534px;
  width:47px;
  height:38px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1394 {
  position:absolute;
  left:13px;
  top:545px;
  width:56px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1396 {
  position:absolute;
  left:9px;
  top:70px;
  width:79px;
  height:27px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1398 {
  position:absolute;
  left:247px;
  top:72px;
  width:77px;
  height:31px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u1400 {
  position:absolute;
  left:134px;
  top:70px;
  width:50px;
  height:51px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:65px;
  top:335px;
  width:78px;
  height:47px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:178px;
  top:335px;
  width:75px;
  height:47px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
