body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:0px;
  top:10px;
  width:280px;
  height:340px;
}
#u30 {
  position:absolute;
  left:2px;
  top:162px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:71px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:27px;
  width:276px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u34 {
  position:absolute;
  left:48px;
  top:106px;
  width:182px;
  height:28px;
  color:#CCCCCC;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u36 {
  position:absolute;
  left:48px;
  top:144px;
  width:182px;
  height:28px;
  color:#CCCCCC;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:84px;
  top:220px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:170px;
  top:294px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:339px;
  top:358px;
  width:500px;
  height:54px;
}
#u43 {
  position:absolute;
  left:2px;
  top:11px;
  width:496px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:147px;
  top:182px;
  width:75px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:151px;
  top:70px;
  width:129px;
  height:26px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:12px;
  top:70px;
  width:87px;
  height:26px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:229px;
  top:0px;
  width:51px;
  height:33px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u52 {
  position:absolute;
  left:304px;
  top:81px;
  width:23px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:349px;
  top:56px;
  width:437px;
  height:76px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  position:absolute;
  left:349px;
  top:150px;
  width:437px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:363px;
  top:228px;
  width:487px;
  height:70px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:334px;
  top:189px;
  width:210px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:334px;
  top:316px;
  width:134px;
  height:23px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u64 {
  position:absolute;
  left:302px;
  top:136px;
  width:23px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u66 {
  position:absolute;
  left:301px;
  top:181px;
  width:23px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u68 {
  position:absolute;
  left:302px;
  top:228px;
  width:23px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u70 {
  position:absolute;
  left:301px;
  top:301px;
  width:23px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u72 {
  position:absolute;
  left:306px;
  top:358px;
  width:23px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u74 {
  position:absolute;
  left:301px;
  top:411px;
  width:23px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:334px;
  top:418px;
  width:445px;
  height:23px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  word-wrap:break-word;
}
