body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:434px;
  top:181px;
  width:172px;
  height:98px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:30px;
  top:605px;
  width:43px;
  height:38px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:696px;
}
#u1096 {
  position:absolute;
  left:11px;
  top:29px;
  width:359px;
  height:696px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:340px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:28px;
  top:85px;
  width:319px;
  height:560px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:272px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u1101 {
  position:absolute;
  left:34px;
  top:88px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1102 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103 {
  position:absolute;
  left:30px;
  top:145px;
  width:315px;
  height:50px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  position:absolute;
  left:30px;
  top:111px;
  width:73px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1107 {
  position:absolute;
  left:109px;
  top:361px;
  width:93px;
  height:60px;
  font-size:36px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1109 {
  position:absolute;
  left:42px;
  top:602px;
  width:69px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:170px;
}
#u1111 {
  position:absolute;
  left:63px;
  top:169px;
  width:236px;
  height:170px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:77px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1113 {
  position:absolute;
  left:210px;
  top:599px;
  width:66px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
}
#u1115 {
  position:absolute;
  left:42px;
  top:542px;
  width:69px;
  height:63px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:63px;
}
#u1117 {
  position:absolute;
  left:208px;
  top:536px;
  width:69px;
  height:63px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:24px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1119 {
  position:absolute;
  left:257px;
  top:111px;
  width:88px;
  height:30px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u1121 {
  position:absolute;
  left:151px;
  top:109px;
  width:51px;
  height:50px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:17px;
  width:47px;
  word-wrap:break-word;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1123 {
  position:absolute;
  left:408px;
  top:316px;
  width:394px;
  height:243px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:10px;
  width:390px;
  word-wrap:break-word;
}
