body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:427px;
}
#u227 {
  position:absolute;
  left:2px;
  top:206px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:80px;
  top:88px;
  width:207px;
  height:43px;
}
#u229 {
  position:absolute;
  left:2px;
  top:14px;
  width:203px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:80px;
  top:141px;
  width:207px;
  height:43px;
}
#u231 {
  position:absolute;
  left:2px;
  top:14px;
  width:203px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:90px;
  top:18px;
  width:114px;
  height:32px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:9px;
  top:99px;
  width:71px;
  height:19px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:9px;
  top:153px;
  width:71px;
  height:19px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:83px;
  top:262px;
  width:140px;
  height:40px;
}
#u239 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:435px;
  top:117px;
  width:300px;
  height:144px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
