We successfully tested 8 target users. The results of the test are very exciting. Most children can achieve the goal of self-directed learning.

70% of the children can be independently trained under the guidance of the software with the help of very few parents. The remaining 30% of the children can also learn through this app with the help of the parents. 50% of children will follow the study to varying degrees; some children are very happy when they are in the software operation because they see the animation of the picture. These benign feedbacks give us a lot of encouragement.

Of course, some problems of the product have also been discovered. The specific problems and solutions are as follows:

![image](https://github.com/xiaoyudi-China/xiaoyudi_iOS/blob/master/images/user_test_report(A_version).png)
