body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712 {
  position:absolute;
  left:38px;
  top:52px;
  width:396px;
  height:321px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:152px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1714 {
  position:absolute;
  left:38px;
  top:52px;
  width:132px;
  height:107px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1716 {
  position:absolute;
  left:170px;
  top:52px;
  width:132px;
  height:107px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1718 {
  position:absolute;
  left:302px;
  top:52px;
  width:132px;
  height:107px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1720 {
  position:absolute;
  left:38px;
  top:159px;
  width:132px;
  height:107px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1722 {
  position:absolute;
  left:38px;
  top:266px;
  width:132px;
  height:107px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1724 {
  position:absolute;
  left:170px;
  top:159px;
  width:132px;
  height:107px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1726 {
  position:absolute;
  left:302px;
  top:159px;
  width:132px;
  height:107px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1728 {
  position:absolute;
  left:170px;
  top:266px;
  width:132px;
  height:107px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1730 {
  position:absolute;
  left:302px;
  top:266px;
  width:132px;
  height:107px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:108px;
}
#u1732 {
  position:absolute;
  left:434px;
  top:159px;
  width:132px;
  height:107px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:46px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
