body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:646px;
  top:224px;
  width:105px;
  height:27px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:614px;
  top:352px;
  width:137px;
  height:26px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:635px;
  top:458px;
  width:159px;
  height:110px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:696px;
}
#u1320 {
  position:absolute;
  left:-12px;
  top:-21px;
  width:359px;
  height:696px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:340px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:5px;
  top:35px;
  width:319px;
  height:560px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:272px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u1325 {
  position:absolute;
  left:11px;
  top:38px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1326 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1327 {
  position:absolute;
  left:7px;
  top:95px;
  width:315px;
  height:50px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:163px;
}
#u1329 {
  position:absolute;
  left:65px;
  top:147px;
  width:188px;
  height:163px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:74px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:60px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:63px;
  width:58px;
  height:60px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:252px;
  top:63px;
  width:74px;
  height:36px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:58px;
}
#u1335 {
  position:absolute;
  left:120px;
  top:64px;
  width:61px;
  height:58px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:21px;
  width:57px;
  word-wrap:break-word;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1337 {
  position:absolute;
  left:109px;
  top:352px;
  width:101px;
  height:49px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
