body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:696px;
}
#u1431 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:359px;
  height:696px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:340px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1433 {
  position:absolute;
  left:7px;
  top:47px;
  width:319px;
  height:560px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:272px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u1436 {
  position:absolute;
  left:13px;
  top:50px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1437 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1438 {
  position:absolute;
  left:9px;
  top:107px;
  width:315px;
  height:50px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:163px;
}
#u1440 {
  position:absolute;
  left:65px;
  top:147px;
  width:188px;
  height:163px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:74px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  position:absolute;
  left:9px;
  top:70px;
  width:79px;
  height:27px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  position:absolute;
  left:247px;
  top:72px;
  width:77px;
  height:31px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u1446 {
  position:absolute;
  left:134px;
  top:70px;
  width:50px;
  height:51px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1448 {
  position:absolute;
  left:107px;
  top:337px;
  width:92px;
  height:47px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  word-wrap:break-word;
}
